<div class="w-75 d-flex flex-column m-auto">
  <h1 class ="text-center my-4">Mes listes</h1>
  <div>
  </div>
    <div data-controller="reveal" data-reveal-hidden-class="d-none">
      <% @lists.each do |list| %>
          <div class="d-flex justify-content-end">
            <%= link_to edit_list_path(list), class: 'btn btn-success text-white ms-2 rounded-pill me-2 mb-3' do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
            <%= link_to list_path(list), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-success text-white ms-2 rounded-pill me-2 mb-3' do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <div class="d-flex justify-content-between border px-5 py-3 rounded align-items-center bg-success mb-3" data-action="click->reveal#toggle">
      <h3 class="text-white">
        <%= list.nom %>
      </h3>
    <i class="fa-solid fa-caret-down" style="color: #ffffff;"></i>
  </div>


      <% list.plant_lists.each do |plant_list| %>
        <div class="cards mt-3 d-none" data-reveal-target="item">
          <div class="card rounded-3" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); background-color: #daf1df; border-radius:12px;">
            <%= cl_image_tag plant_list.plant.photos.first.key, :cloud_name => "dzhzzutmq", style: 'height: 250px; width: 100%; object-fit: cover; padding: 16px 16px 0 16px;' %>
            <div class="card-body">
              <h5 class="card-title"><%= plant_list.plant.name %></h5>
              <h6 class="card-title"><%= plant_list.plant.categorie %></h6>
              <p class="card-text text-muted fs-6"><%= plant_list.plant.description.truncate(200) %></p>
              <div class="d-flex justify-content-center">
                <%= link_to "Voir détails", plant_path(plant_list.plant), class:"btn btn-success text-white rounded-pill" %>
                <%= link_to plant_path(plant_list.plant.id), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr?' }, class: "btn btn-success text-white" do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
