<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand", style:"margin-right: 400px !important;" do %>
      <%= image_tag "when to plant blanc.png", style: "width:169px; height:40px; margin-bottom:25px;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Fruits</a>
            <a class="dropdown-item" href="#">Légumes</a>
            <a class="dropdown-item" href="#">Aromates</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           |  Calendriers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Janvier</a>
            <a class="dropdown-item" href="#">Février</a>
            <a class="dropdown-item" href="#">Mars</a>
            <a class="dropdown-item" href="#">Avril</a>
            <a class="dropdown-item" href="#">Mai</a>
            <a class="dropdown-item" href="#">Juin</a>
            <a class="dropdown-item" href="#">Juillet</a>
            <a class="dropdown-item" href="#">Août</a>
            <a class="dropdown-item" href="#">Septembre</a>
            <a class="dropdown-item" href="#">Octobre</a>
            <a class="dropdown-item" href="#">Novembre</a>
            <a class="dropdown-item" href="#">Décembre</a>
          </div>
        </li>
        <li class="nav-item active">
          <%= link_to "|  A propos <span class=\"sr-only\">(current)</span>".html_safe, a_propos_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "| Blog".html_safe, posts_path, class: 'nav-link' %>
        </li>
      </ul>

      <div class="d-flex justify-content-center w-100">
        <div class="search-bar" style="max-width: 400px; width: 100%;">
          <%= form_with url: plants_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control me-1 rounded-pill",
              placeholder: "Recherche une plant"
            %>
            <%= submit_tag "Rechercher", class: "btn btn-success text-white rounded-pill" %>
          <% end %>
        </div>
      </div>

      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mes listes", lists_path, class: "dropdown-item" %>
              <%= link_to "Mon profil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
