<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand", style:"margin-right: 400px !important;" do %>
      <%= image_tag "whentoplantfull.png", style: "width:169px; height:40px; margin-bottom:25px;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto me">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Fruits</a>
            <a class="dropdown-item" href="#">Légumes</a>
            <a class="dropdown-item" href="#">Aromates</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           |  Calendriers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Janvier</a>
            <a class="dropdown-item" href="#">Février</a>
            <a class="dropdown-item" href="#">Mars</a>
            <a class="dropdown-item" href="#">Avril</a>
            <a class="dropdown-item" href="#">Mai</a>
            <a class="dropdown-item" href="#">Juin</a>
            <a class="dropdown-item" href="#">Juillet</a>
            <a class="dropdown-item" href="#">Aoùt</a>
            <a class="dropdown-item" href="#">Septembre</a>
            <a class="dropdown-item" href="#">Octobre</a>
            <a class="dropdown-item" href="#">Novembre</a>
            <a class="dropdown-item" href="#">Décembre</a>
          </div>
        </li>
        <li class="nav-item active">
          <%= link_to "|  A propos <span class=\"sr-only\">(current)</span>".html_safe, a_propos_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "| Blog".html_safe, posts_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>

      <form class="form-inline my-2 my-lg-0 ms-auto" data-controller="search">
        <input class="mr-sm-2 d-none" type="search" placeholder="Search" aria-label="Search" data-search-target="input">
        <button class="d-none btn btn-outline-success my-2 my-sm-0" data-search-target="button" type="submit">Search</button>
        <i class="fa-solid fa-magnifying-glass" data-action="click->search#toggle" style="color: #050505;"></i>
      </form>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mes listes", lists_path, class: "dropdown-item" %>
              <%= link_to "Mon profil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
