
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://36vine.com/wp-content/uploads/2023/12/aa83f2ab7561ac20f6a4b07ac336eaa8.webp);">
    <div class="container">
      <h1 style="text-align: center;">When To Plant 🌱</h1>
      <h3 style="text-align: center;">L'art de planter</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, vitae, harum soluta, illum voluptatibus
        minus assumenda necessitatibus asperiores ratione vero quos. Voluptas iure provident doloremque fuga harum autem
        a ut.
      </p>
    </div>
  </div>
<div class="w-75 d-flex flex-column m-auto">
  <h1 class="pt-5">Les plantes du mois</h1>

  <div class="cards">
   <% @plants.each do |plant| %>
    <div class="card-trip">
      <div class="card-trip-infos">
        <%= cl_image_tag plant.photos.first.key %>
        <div class="cards-title">
          <h2><%= plant.name %></h2>
          <p>
            <%= plant.categorie%>
          </p>
          <p>
            <%= plant.description.truncate(127, separator: ' ') %>
          </p>
        </div>
      </div>
      <div class="card-btn">
        <%= link_to "Voir plus de détails", plant_path(plant), class: "btn btn-ghost" %>
      </div>
    </div>
    <% end %>
  </div>

  <h1 class="pt-5">Le calendrier</h1>

  <div class="cards">
    <div class="card-trip d-flex flex-column align-items-center justify-content-center">
          <h2 class="fs-2 pb-3">Mercredi 17 Juillet</h2>
          <p class="fs-5 pb-3">Hier</p>
      <div class="btn btn-success w-25">
        Lune
      </div>
    </div>


    <div class="card-trip d-flex flex-column align-items-center justify-content-center">
          <h2 class="fs-2 pb-3">Jeudi 18 Juillet</h2>
          <p class="fs-5 pb-3">Aujourd'hui</p>
      <div class="btn btn-success w-25">
        Lune
      </div>
    </div>


    <div class="card-trip d-flex flex-column align-items-center justify-content-center">
          <h2 class="fs-2 pb-3">Vendredi 19 Juillet</h2>
          <p class="fs-5 pb-3">Demain</p>
      <div class="btn btn-success w-25">
        Lune
      </div>
    </div>
  </div>
</body>

  <h1 class="pt-5">Les dernières informations et tuto When To Plant</h1>

  <div class="d-flex justify-content-center">

      <% @posts.each do |post| %>
        <div class="col-5 m-3">
        <div class="card mb-3 rounded-3">
        <%= cl_image_tag post.photos.first.key, :cloud_name => "dzhzzutmq", style:"height: 250px; width: 100%; object-fit: cover;" %>
          <div class="card-body">
            <h5 class="card-title"><%= post.titre %></h5>
            <p class="card-text"><%= post.contenu.truncate(300) %></p>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <p class="card-text"><small class="text-muted"><%= post.date_publication %></small></p>
              <%= link_to "Lire l'article", post_path(post), class: "btn btn-success" %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
  </div>
</div>
