<div class="w-75 m-auto">
<h1 class="text-center pt-3">Trouvez votre plante !</h1>
<p class="text-center">Trouvez la ou les plantes qu'il vous faut, pour votre terrain et votre niveau de jardinage</p>
<%= form_with(url: plants_path, method: :get, class: "d-flex flex-column", data: {controller: "filter", turbo_frame: "_top"}) do %>
  <h2 class="text-center mt-5">Quel(s) type(s) de plante(s) ?</h2>
  <p class="text-center fst-italic fw-lighter mb-3">Choix multiple</p>
<div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center justify-content-center mx-4">
            <img src="https://cdn-icons-png.freepik.com/512/7910/7910224.png" alt="Fruits" style="max-width:100px;">
            <div>
              <%= check_box_tag :categorie,
                    "Fruits",
                    class:"me-2" %>
              <%= label_tag "Fruits" %>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-4">
            <img src="https://cdn-icons-png.freepik.com/512/7910/7910612.png?ga=GA1.1.692665051.1720597619" alt="Fruits" style="max-width:100px;">
            <div>
              <%= check_box_tag :categorie,
                    "Légumes",
                    class:"me-2" %>
              <%= label_tag "Légumes" %>
            </div>
        </div>
       <div class="d-flex flex-column align-items-center justify-content-center mx-4">
            <img src="https://www.freeiconspng.com/thumbs/herbs-icon/herbs-png-icon-6.png" alt="Fruits" style="max-height:100px;">
            <div>
              <%= check_box_tag :categorie,
                    "Aromates",
                    class:"me-2" %>
              <%= label_tag "Aromates" %>
            </div>
        </div>
</div>

  <h2 class="text-center mb-3 mt-5">Quel jardinier je suis ?</h2>
  <%# choix unique %>
<div class="d-flex justify-content-center">
   <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/5769/5769492.png" alt="Jardinier débutant" style="max-height:100px;">
            <div>
              <%= check_box_tag :difficulte,
                    "Facile",
                    class:"me-2" %>
              <%= label_tag "Jardinier débutant" %>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/8411/8411112.png" alt="Jardinier amateur" style="max-height:100px;">
            <div>
              <%= check_box_tag :difficulte,
                    "Moyen",
                    class:"me-2" %>
              <%= label_tag "Jardinier amateur" %>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/5346/5346481.png" alt="Jardinier expérimenté" style="max-height:100px;">
            <div>
              <%= check_box_tag :difficulte,
                    "Fort",
                    class:"me-2" %>
              <%= label_tag "Jardinier expérimenté" %>
            </div>
        </div>
</div>
  <h2 class="text-center mt-5">Quand est-ce que je veux planter ?</h2>
    <p class="text-center fst-italic fw-lighter mb-3">Choix multiple</p>
    <div class="d-flex m-auto">
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Janvier",
                    class:"me-2" %>
              <%= label_tag "Janvier" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Février",
                    class:"me-2" %>
              <%= label_tag "Février" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Mars",
                    class:"me-2" %>
              <%= label_tag "Mars" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Avril",
                    class:"me-2" %>
              <%= label_tag "Avril" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Mai",
                    class:"me-2" %>
              <%= label_tag "Mai" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Juin",
                    class:"me-2" %>
              <%= label_tag "Juin" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Juillet",
                    class:"me-2" %>
              <%= label_tag "Juillet" %>
        </div>
        </div>
        <div class="d-flex m-auto">
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Août",
                    class:"me-2" %>
              <%= label_tag "Août" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Septembre",
                    class:"me-2" %>
              <%= label_tag "Septembre" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Octobre",
                    class:"me-2" %>
              <%= label_tag "Octobre" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Novembre",
                    class:"me-2" %>
              <%= label_tag "Novembre" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :periode_semis,
                    "Décembre",
                    class:"me-2" %>
              <%= label_tag "Décembre" %>
        </div>
    </div>
  <h2 class="text-center mb-3 mt-5">Quelle est mon exposition ?</h2>
  <%# choix unique %>
  <div class="d-flex justify-content-center">
   <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/869/869869.png" alt="Plein soleil" style="max-height:100px;">
            <div>
              <%= check_box_tag :exposition,
                    "Plein soleil",
                    class:"me-2" %>
              <%= label_tag "Plein soleil" %>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/9586/9586736.png" alt="Mi-ombragée" style="max-height:100px;">
            <div>
              <%= check_box_tag :exposition,
                    "Mi-ombragée",
                    class:"me-2" %>
              <%= label_tag "Mi-ombragée" %>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/414/414927.png" alt="Ombragée" style="max-height:100px;">
            <div>
              <%= check_box_tag :exposition,
                    "Ombragée",
                    class:"me-2" %>
              <%= label_tag "Ombragée" %>
            </div>
        </div>
</div>

  <h2 class="text-center mt-5">Quelles sont les températures moyennes ?</h2>
  <p class="text-center fst-italic fw-lighter mb-3">Choisir toutes les bonnes températures</p>
  <div class="d-flex m-auto">
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "-5°C-20°C",
                    class:"me-2" %>
              <%= label_tag "-5°C-20°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "0-20°C",
                    class:"me-2" %>
              <%= label_tag "0-20°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "10°C" ,
                    class:"me-2" %>
              <%= label_tag "10°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "10-15°C",
                    class:"me-2" %>
              <%= label_tag "10-15°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "10-25°C",
                    class:"me-2" %>
              <%= label_tag "10-25°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "10-30°C",
                    class:"me-2" %>
              <%= label_tag "10-30°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "15°C",
                    class:"me-2" %>
              <%= label_tag "15°C" %>
        </div>
        </div>
        <div class="d-flex m-auto">
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "15-20°C",
                    class:"me-2" %>
              <%= label_tag "15-20°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "15-25°C",
                    class:"me-2" %>
              <%= label_tag "15-25°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "15-30°C",
                    class:"me-2" %>
              <%= label_tag "15-30°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "20°C",
                    class:"me-2" %>
              <%= label_tag "20°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "20-25°C",
                    class:"me-2" %>
              <%= label_tag "20-25°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "20-30°C",
                    class:"me-2" %>
              <%= label_tag "20-30°C" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :temperature,
                    "25-35°C",
                    class:"me-2" %>
              <%= label_tag "25-35°C" %>
        </div>
    </div>

  <h2 class="text-center mt-5">Quelle est la nature du sol ?</h2>
  <p class="text-center fst-italic fw-lighter mb-3">Choix multiple</p>
  <div class="d-flex m-auto">
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Tout types",
                    class:"me-2" %>
              <%= label_tag "Tout types" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Drainé",
                    class:"me-2" %>
              <%= label_tag "Drainé" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Acide",
                    class:"me-2" %>
              <%= label_tag "Acide" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Ameubli",
                    class:"me-2" %>
              <%= label_tag "Ameubli" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Riche en humus",
                    class:"me-2" %>
              <%= label_tag "Riche en humus" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Argileux",
                    class:"me-2" %>
              <%= label_tag "Argileux" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Léger",
                    class:"me-2" %>
              <%= label_tag "Léger" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Profond",
                    class:"me-2" %>
              <%= label_tag "Profond" %>
        </div>
        </div>
        <div class="d-flex m-auto">
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Riche",
                    class:"me-2" %>
              <%= label_tag "Riche" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Neutre",
                    class:"me-2" %>
              <%= label_tag "Neutre" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Moyen",
                    class:"me-2" %>
              <%= label_tag "Moyen" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Frais",
                    class:"me-2" %>
              <%= label_tag "Frais" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Humifère",
                    class:"me-2" %>
              <%= label_tag "Humifère" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Sableuse",
                    class:"me-2" %>
              <%= label_tag "Sableuse" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    "Calcaire",
                    class:"me-2" %>
              <%= label_tag "Calcaire" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
              <%= check_box_tag :nature_sol,
                    params[:nature_sol].present?,
                    class:"me-2" %>
              <%= label_tag "Je ne sais pas" %>
        </div>
    </div>

  <h2 class="text-center mt-5">Besoin d’arrosage</h2>
  <p class="text-center fst-italic fw-lighter mb-3">Choix multiple</p>
    <div class="d-flex justify-content-center">
   <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/15200/15200487.png" alt="Faible" style="max-height:100px;">
            <div>
              <%= check_box_tag :besoin_eau,
                    "Faible",
                    class:"me-2" %>
              <%= label_tag "Faible (tous les 3-5 jours)" %>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/16775/16775777.png" alt="Moyen" style="max-height:100px;">
            <div>
              <%= check_box_tag :besoin_eau,
                    "Moyen",
                    class:"me-2" %>
              <%= label_tag "Moyen (tous les 2-3 jours)" %>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3">
            <img src="https://cdn-icons-png.flaticon.com/512/15439/15439860.png" alt="Fort" style="max-height:100px;">
            <div>
              <%= check_box_tag :besoin_eau,
                    "Fort",
                    class:"me-2" %>
              <%= label_tag "Fort (tous les jours)" %>
            </div>
        </div>
</div>

  <div class="d-flex justify-content-center">
      <%= button_to "Trouver des plantes !", class:"text-white text-decoration-none btn btn-success rounded-pill my-5", style:"max-width: 200px;", data: {action: "click->filter#submit"} %>
  </div>
  <% end %>

</div>
