<div class="w-50 mx-auto">
  <%= link_to "< Retour", plants_path, class:"text-decoration-none text-black mb-3 mt-2" %>
  <div class="card mb-3">
    <%= cl_image_tag @plant.photos.first.key, :cloud_name => "dzhzzutmq", class: "rounded mb-3 img-fluid" %>
      <div class="card-body mb-3">
        <h2><%= @plant.name %></h2>
        <p><%= @plant.categorie %></p>
        <div class="lh-sm">
          <p><strong>Nom scientifique:</strong> <%= @plant.nom_scientifique %> <br>
          <strong>Famille:</strong> <%= @plant.famille %> <br>
          <strong>Difficulté:</strong> <%= @plant.difficulte %></p>
        </div>
        <p><%= @plant.description %></p>
        <p><strong>Conseils de semis:</strong> <%= @plant.conseil_semis %></p>
        <p><strong>Conseils de culture:</strong> <%= @plant.conseil_culture %></p>
      </div>
  </div>
  <div>
  <h5>Conseils des jardiniers :</h5>
  <p class="fw-light">Pas de conseils sur cette plante.. Soyez le premier à donner vos trucs et astuces pour aider les jardiniers de When To Plant !</p>
  </div>
  <div class="mb-5">
    <%= simple_form_for([@plant, @tip]) do |f| %>
      <div class="d-flex flex-column justify-content-center w-50">
        <%= f.input :titre %>
        <%= f.input :contenu %>
        <%= f.submit "Publier", class: "btn btn-success mb-3", class:"btn btn-success text-white" %>
      </div>
    <% end %>
  </div>
</div>
