<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-5" style="background-color: #f0fff4;">
        <div class="card-body">
          <% if @post.photos.any? %>
            <%= cl_image_tag @post.photos.first.key, alt: @post.titre, style: "height: 200px; width: 100%; object-fit: cover; border-radius:10px;" %>
          <% end %>
          <h1 class="card-title"><%= @post.titre %></h1>
          <h5 class="card-subtitle mb-2 text-muted"><%= @post.categorie %></h5>
          <p class="card-text"><%= @post.contenu %></p>
          <div class="d-flex justify-content-end">
            <%= link_to 'Retour', posts_path, class: 'btn btn-success text-white rounded-pill' %>
          </div>
        </div>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="col-md-4">
        <div class="card mb-5" style="background-color: #f0fff4;">
          <div class="card-body">
            <h2>Ajouter un Commentaire</h2>
            <%= simple_form_for [@post, Comment.new] do |f| %>
              <%= f.input :titre, placeholder: "Votre titre" %>
              <%= f.input :contenu, placeholder: "Votre commentaire" %>
              <div class="d-flex justify-content-end">
                <%= f.submit "Soumettre", class: 'btn btn-success text-white rounded-pill' %>
              </div>
            <% end %>

            <% if @comment %>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <h3><%= @comment.titre %></h3>
                    <p><strong>Contenu</strong>: <%= @comment.contenu %></p>
                    <p class="card-text"><small class="text-muted"><%= post.date_publication %></small></p>
                  </div>
                </div>
              </div>
            <% else %>
              <!-- Affiche ce message uniquement s'il n'y a pas de commentaire soumis -->
              <p class="col-md-8">Aucun commentaire pour le moment.</p>
            <% end %>
          </div>
        </div>
      </div> <!-- Balise fermante ajoutée ici -->
    <% end %>
  </div>
</div>
